<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>Articulo</ion-title>

  </ion-navbar>
</ion-header>


<ion-content class="detail-content">
  <!-- <ion-spinner name="circles" paused="activated"></ion-spinner> -->
  <img src="http://178.128.183.171/{{article.image_path}}" class="det-img" />
  <ion-card>
    <ion-item>
      {{article.name}}
      <button color="grayColor" ion-button item-right>{{article.price | currency:'RD$'}}</button>
      <p>Stock: {{article.stock}}</p>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Descripcion
    </ion-card-header>
    <ion-card-content>
      <p>
        {{article.description}}
      </p>
    </ion-card-content>



    <ion-card-header>Cantidad: </ion-card-header>
    <p>{{cantidad}}</p>
    <ion-icon name="ios-remove-circle" (click)="decrement()"> </ion-icon>
    <ion-icon name="ios-add-circle" (click)="increment()"> </ion-icon>

  </ion-card>

  <button (click)="addToCart(article.id,cantidad)" ion-button block text-uppercase color="secondary" class="app-btn">
    <ion-icon name="md-cart" color="light"></ion-icon>
    Agregar al carrito
  </button>
  <button ion-button block text-uppercase color="primary" class="app-btn" (click)="addToFavorite(article.id)">
    <ion-icon name="md-cart" color="light"></ion-icon>
    Agregar favorito
  </button>

  <!-- articulos relacionados en scroll horizontal -->
  <h5>ARTICULOS RELACIONADOS </h5>

  <!-- <ion-scroll scrollX="true"> -->
  <!-- <ion-scroll scrollX="true" direction="x" *ngIf="relatedArticles"> -->
  <ion-card-content>
    <ion-row>
      <ion-item no-lines>
        <ion-scroll scrollX="true">
          <ion-card class="app-card" *ngFor="let relatedArticle of relatedArticles">
            <img src="http://178.128.183.171/{{relatedArticle.image_path}}" (click)="goToSingleArticle(relatedArticle.slug)" />
            <div class="det">
              <h4 no-margin>{{relatedArticle.name | slice:0:5}}</h4>
              <p no-margin>{{relatedArticle.price | currency:'RD$'}}</p>
            </div>
          </ion-card>
        </ion-scroll>
      </ion-item>
    </ion-row>
  </ion-card-content>
  <!-- </ion-scroll> -->

  <!-- <ion-row>
    <ion-avatar *ngFor="let relatedArticle of relatedArticles">
      <img src="http://178.128.183.171/{{relatedArticle.image_path}}" style="max-width:2.5rem;max-height:2.5rem;">
      <h5> {{relatedArticle.name | slice:0:5}} </h5>
    </ion-avatar>
  </ion-row> -->






  <!-- <h5>Opiniones de los usuarios</h5> -->
</ion-content>