<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>Articulo</ion-title>

  </ion-navbar>
</ion-header>


<ion-content class="detail-content" padding>
  <ion-spinner name="circles"*ngIf="!article"></ion-spinner>
  <img src="http://178.128.183.171/{{article.image_path}}" class="det-img" />
  <ion-card>
    <ion-item>
      <p>
        <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" starIconName="star" nullable="false">
        </rating>
      </p>


      {{article.name}}
      <button color="grayColor" ion-button item-right>{{article.price | currency:'RD$'}}</button>
      <p>Stock: {{article.stock}}</p>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Descripcion
    </ion-card-header>
    <ion-card-content>
      <p>
        {{article.description}}
      </p>
    </ion-card-content>



    <ion-card-header>Cantidad: </ion-card-header>
    <p>{{cantidad}}</p>
    <ion-icon name="ios-remove-circle" (click)="decrement()"> </ion-icon>
    <ion-icon name="ios-add-circle" (click)="increment()"> </ion-icon>

  </ion-card>

  <button (click)="addToCart(article.id,cantidad)" ion-button block text-uppercase color="secondary" class="app-btn">
    <ion-icon name="md-cart" color="light"></ion-icon>
    Agregar al carrito
  </button>
  <button *ngIf="mostrarfavorite" ion-button block text-uppercase color="primary" class="app-btn" (click)="addToFavorite(article.id)">
    <ion-icon name="md-heart" color="light" *ngIf="mostrarfavorite"></ion-icon>
    Agregar favoritos
  </button>
  <button *ngIf="!mostrarfavorite" ion-button block text-uppercase color="primary" class="app-btn" (click)="removeFromFavorite(article.id)">
    <ion-icon name="md-heart" color="light" *ngIf="mostrarfavorite"></ion-icon>
    Eliminar de favoritos
  </button>

  <!-- articulos relacionados en scroll horizontal -->
  <h5>Mas articulos similares </h5>

  <ion-slides (ionSlideDidChange)="slideChanged()" class="header-banner" >
      <ion-slide *ngFor="let relatedArticle of relatedArticles" style="text-align: center;">
        <img src="http://178.128.183.171/{{relatedArticle.image_path}}" class="image" (click)="goToSingleArticle(relatedArticle.slug)"
        />
        <div class="det">
          <h4 no-margin>{{relatedArticle.name | slice:0:12}}</h4>
          <p no-margin>{{relatedArticle.price | currency:'RD$'}}</p>
          </div>
      </ion-slide>
  </ion-slides>

  <!-- <h5>Opiniones de los usuarios</h5> -->
</ion-content>