<ion-content class="app-bg" padding>
    <div class="Loginpage">
        <div class="formContainer">

            <form class="app-form" [formGroup]="loginForm" padding>
                <h4 class="title-form" color="light" text-uppercase>Enjoy Shopping</h4>
                <ion-list>
                    <ion-item>
                        <ion-label floating>Correo</ion-label>
                        <ion-input [(ngModel)]="email" type="text" formControlName="email"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!loginForm.controls.email.valid">
                        <p>correo no valido</p>

                    </ion-item>


                    <ion-item>
                        <ion-label floating>Contrasena</ion-label>
                        <ion-input [(ngModel)]="password" formControlName="password" type="password"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!loginForm.controls.password.valid">
                        <p>minimo 6 caracteres</p>

                    </ion-item>
                </ion-list>
                <button ion-button block text-uppercase color="third" [disabled]="!loginForm.valid" (click)="ingresar()">ENTRAR</button>

            </form>
        </div>
    </div>

</ion-content>