<ion-header class="myHeader">
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>


    <ion-title text-capitalize>{{website.name}}</ion-title>
    <ion-buttons class="head-btns" end>
    </ion-buttons>
  </ion-navbar>

  
  <ion-toolbar color="primary" class="profile-head" text-center>
    <img src="http://178.128.183.171/{{website.image_path}}" />
    <h4>{{website.name}}</h4>
    <p>{{website.description | pipesNullfields}}</p>
    <p>{{website.phone | pipesNullfields}}</p>
    <button *ngIf="!mostrarBtn" ion-button color="third" (click)="subscribeTowebsite(website.username)">SUBSCRIBIRSE</button>
    <button *ngIf="mostrarBtn" ion-button color="apagao" (click)="unSubscribeTowebsite(website.username)">SUSCRITO</button>
  </ion-toolbar>


  <!--aqui van la lista de articulos-->
  <ion-content>
  
    <ion-card class="app-card" *ngFor="let article of articles">
      <img src="http://178.128.183.171/{{article.image_path}}" (click)="goToSingleArticle(article.slug)" />
      <div class="det">
        <h4 no-margin>{{article.name | slice:0:5}}</h4>
        <p no-margin>{{article.price | currency:'RD$'}}</p>
        <ion-grid no-padding>
          <ion-row>
            <ion-col col-6>
              <!-- <button ion-button block>Ordenar</button> -->
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card>
  
</ion-content>