<ion-header class="myHeader">
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize *ngIf="user">Perfil</ion-title>
  </ion-navbar>

  <div *ngIf="!user" class="spinner-container">
    <ion-spinner name="circles"></ion-spinner>
  </div>

  <ion-toolbar color="primary" class="profile-head" text-center *ngIf="user">
    <img src="http://178.128.183.171/{{user.avatar}}" />
    <h4>{{user.name}}</h4>
    <p>{{user.email}}</p>
  </ion-toolbar>


  <ion-segment [(ngModel)]="tabs" *ngIf="user">
    <ion-segment-button value="Likes" (click)="selectTab(0)" value="0" text-uppercase>
      Favoritos
    </ion-segment-button>
    <ion-segment-button value="notification" (click)="selectTab(1)" value="1" text-uppercase>
      Mis sitios
    </ion-segment-button>
  </ion-segment>
</ion-header>




<ion-content (ionScroll)="scrollingFun($event)" [ngSwitch]="tabs">
  <ion-slides class="app-slider" #pageSlider>
    <ion-slide (ionSlideWillChange)="changeWillSlide($event)">
      <!-- <div class="sub-list">
          </div>         -->
      <div *ngIf="favorites.length < 1">No tienes favoritos</div>

      <div *ngIf="favorites" class="customMargin">
        <ion-card class="app-card" *ngFor="let article of favorites">
          <img src="http://178.128.183.171/{{article.image_path}}" (click)="goToSingleArticle(article.slug)" />
          <div class="det">
            <h4 no-margin>{{article.name | slice:0:5}}</h4>
            <p no-margin>{{article.price | currency:'RD$'}}</p>
            <ion-grid no-padding>

            </ion-grid>
          </div>
        </ion-card>
      </div>




    </ion-slide>
    <ion-slide (ionSlideWillChange)="changeWillSlide($event)">
      <div *ngIf="websites.length < 1">No tienes sitios</div>
      <ion-item class="cart-list" no-lines *ngFor="let website of websites">
        <ion-thumbnail item-left>
          <img src="assets/imgs/cart-img.png" (click)="goTowebsite(website.username)">
        </ion-thumbnail>
        <h2>{{website.name}}</h2>
        <p>{{website.subscribed_users_count}} subscriptores</p>
      </ion-item>
    </ion-slide>
  </ion-slides>
</ion-content>