page-profile {
    ion-segment{
        margin-top: -2px;
    }
    .cart-list{
        @extend %box-shadow !optional;
        padding-left: 9px;
        ion-thumbnail[item-left]{
            margin: 7px 16px 7px 0;
        }
        ion-thumbnail{
            min-width: 85px;
            min-height: 80px;
            img{
                width: 85px;
                height: 80px;
            }
        }
        h2{
            font-size: 1.3rem;
            font-weight: 500;
            margin-bottom: 6px;
            span{
                font-size: 1.15rem;
                color: #757575;
                margin-left: 10px;
            }
        }
        p{
            font-size: 1.2rem;
        }
    }

    app-card{
        width: calc(50% - 6px);
        margin: 12px 0 0 0;
        float: left;
        position: relative;
        img{
            height: 180px;
            object-fit: cover;
            -o-object-fit: cover;
        }
        &:nth-child(2n+1){
            margin-right: 6px;
        }
        &:nth-child(2n){
            margin-left: 6px;
        }
        h4 , p{
            color: color($colors,light);
        }
    }
    .card-md + ion-card{
        margin-top: 12px;
    }
    
    .det{
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(66, 66, 66, .5);
        padding: 12px 10px 3px 10px;
        .col{
            display: flex;
            align-items: center;
            ion-icon{
                font-size: 1.7rem;
            }
        }
        [col-3]{
            justify-content: center;
        }
        h4{
            @extend %overflow;
            font-size: 1.35rem;
        }
        p{
            @extend %overflow;
            font-size: 1.2rem;
            span{
                position: relative;
                margin-right: 7px;
                font-size: 12px;
            }
        }
        .button{
            height: 24px;
            width: 55px;
            padding: 0 5px;
            font-size: 1rem !important;
            background-color: color($colors,secondary);
            color: color($colors,dark); 
        }
    }
    
    
}

.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px !important;
    }

.profile-head{
    padding: 4px 50px;
    img{
        width: 95px;
        height: 95px;
        border-radius: 50%;
        object-fit: cover;
        -o-object-fit: cover;
    }
    h4{
        @extend %overflow;
        margin: 5px 0 0 0;
        font-size: 1.6rem;
        font-weight: normal;
        color: color($colors,light);
    }
    p{
        @extend %overflow;
        margin: 3px 0 20px 0;
        font-size: 1.3rem;
        color: color($colors,light);
    }
}
.myHeader{
    transition: all .05s ease-in-out;
}
.userInfo{
    .profile-head{
        h4 , p , img{
           opacity: 0;
           transition: opacity .4s ease-in-out;
        }
    }

.customMargin{
    margin: 5px 5px 5px 5px;

}
}