<!--
  Generated template for the BuscarSitiosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title mode="ios">Buscar Sitios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ais-instantsearch [config]="algoliaConfig">

    <ais-search-box placeholder='Busca un sitio'></ais-search-box>
    <br>

    <ais-current-refinements [clearRefinements]="true"></ais-current-refinements>
    <h6>Ubicacion</h6>
    <ais-refinement-list attribute="location"></ais-refinement-list>
    <h6>Fecha de creacion</h6>
    <ais-refinement-list attribute="created_at"></ais-refinement-list>




    <ais-hits>
      <ng-template let-hits="hits">
        <p class="info" *ngIf="hits.length === 0">
          No se encontraron resultados
        </p>

        <ion-card *ngFor="let hit of hits">
          <!-- <ais-highlight attribute="name" [hit]="hit">
          </ais-highlight> -->
          <img src="http://178.128.183.171/{{hit.image_path}}" class="image" (click)="goTowebsite(hit.username)" />
          <div class="card-title">{{hit.name}}</div>
          <!-- <div class="card-subtitle">{{hit.subscribers}}</div> -->
        </ion-card>
      </ng-template>
    </ais-hits>



    <!-- <ais-pagination [totalPages]="20"></ais-pagination> -->

  </ais-instantsearch>








</ion-content>