<ion-header>

  <ion-navbar>
    <ion-title>Crear Sitios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>






  <form [formGroup]="createWebsiteForm">
    <ion-list>
      <ion-item>
        <ion-label>
          Nombre sitio
        </ion-label>
        <ion-input [(ngModel)]="name" type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item *ngIf="createWebsiteForm.controls.name.errors?.required && createWebsiteForm.controls.name.dirty">
        <p>Campo requerido</p>
      </ion-item>

      <ion-item *ngIf="createWebsiteForm.controls.name.errors?.minLength && createWebsiteForm.controls.name.dirty">
        <p>Minimo 4 caracteres</p>
      </ion-item>

      <ion-item *ngIf="createWebsiteForm.controls.name.errors?.pattern && createWebsiteForm.controls.name.dirty">
        <p>No espacios, comas, puntos o caracteres especiales</p>
      </ion-item>


      <ion-item>
        <ion-label>
          Nombre usuario
        </ion-label>
        <ion-input [(ngModel)]="username" type="text" formControlName="username"></ion-input>
      </ion-item>

      <ion-item *ngIf="createWebsiteForm.controls.username.errors?.required && createWebsiteForm.controls.username.dirty">
        <p>Campo requerido</p>
      </ion-item>

      <ion-item *ngIf="createWebsiteForm.controls.username.errors?.minLength && createWebsiteForm.controls.username.dirty">
        <p>Minimo 4 caracteres</p>
      </ion-item>

      <ion-item *ngIf="createWebsiteForm.controls.username.errors?.pattern && createWebsiteForm.controls.username.dirty">
        <p>No espacios, comas, puntos o caracteres especiales</p>
      </ion-item>


    </ion-list>

    <button ion-button block (click)="crearSitio()" [disabled]="!createWebsiteForm.valid">CREAR</button>
  </form>

</ion-content>