<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start>
      <button *ngIf="_us.token_activo()" ion-button (click)="_us.cerrar_sesion()">
        Salir
      </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Inicio</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="carritoService.ver_carrito()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge color="danger" class="carrito-numero" *ngIf="carritoService.items.length > 0">{{carritoService.items.length}}
        </ion-badge>

      </button>
      &nbsp; &nbsp;
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar placeholder="Buscar" (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content>

  <!-- botones iniciales -->
  <ion-row>
    <ion-item no-lines>
      <ion-scroll scrollX="true">
        <button ion-button>Vehiculos</button>
        <button ion-button>Electrodomesticos</button>
        <button ion-button>Celulares</button>
        <button ion-button>Casas</button>
        <button ion-button>Favoritos</button>
        <button ion-button>Subastas</button>
      </ion-scroll>
    </ion-item>
  </ion-row>


  <ion-row>
    <ion-item no-lines>
      <ion-title>Recomendados..</ion-title>
      <ion-scroll scrollX="true">

        <img src="assets/imgs/card-amsterdam.png" />

        <img src="assets/imgs/card-sf.png" />

        <img src="assets/imgs/card-madison.png" />


      </ion-scroll>
    </ion-item>
  </ion-row>




  <div class="pins">
    <div class="pin" *ngFor="let article of articles | async" [navPush]="articuloPage" [navParams]="{articulo: article}">
      <img [src]="article.image_path" alt="" srcset="">
      <p>{{article.name}}</p>
      <small>{{article.price | currency}}</small>
    </div>
  </div>





  <ion-infinite-scroll (ionInfinite)="siguiente_pagina($event)">

    <ion-infinite-scroll-content>


    </ion-infinite-scroll-content>

  </ion-infinite-scroll>


</ion-content>