<ion-header class="header_home">
  <ion-navbar color="primary">
    <ion-buttons start>
      <button *ngIf="_us.token_activo()" ion-button (click)="cerrarSesion()">
        Salir
      </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Enjoy Shopping</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="carritoService.ver_carrito()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge color="danger" class="carrito-numero" *ngIf="carritoService.carritoBadgeCounter > 0">{{carritoService.carritoBadgeCounter}}
        </ion-badge>

      </button>
      &nbsp; &nbsp;
    </ion-buttons>
  </ion-navbar>

  <!-- <ion-searchbar class="iSearchbar" color="third" placeholder="Buscar.."></ion-searchbar> -->
</ion-header>



<ion-content class="home-content" fullscreen (ionScroll)="scrollingFun($event)">



  <img src="assets/imgs/new.png" class="new-collection" />

  <div class="products" *ngIf="!show && _us.token_activo()">
    <p>No sigues a ningun sitio?, Busca algunos y suscribete!</p>
  </div>



  <div class="products" *ngIf="!_us.token_activo()">
    <p>Inicia sesion para una mejor experiencia de usuario</p>
    <button ion-button style="justify-content: center" (click)="goToSignIn()"> ENTRAR</button>

  </div>


  <div *ngIf="show" class="products">

    <p text-uppercase>
      <strong>Articulos</strong>
    </p>



    <ion-card class="app-card" *ngFor="let article of articlesFromSubscribed">
      <img src="http://178.128.183.171{{article.image_path}}" (click)="goToSingleArticle(article.slug)" />

      <div class="det">
        <h4 no-margin>{{article.name | slice:0:5}}</h4>
        <p no-margin>{{article.price | currency:'RD$'}}</p>
        <!-- <p no-margin *ngFor="let review of article.reviews; let i = index">
          <rating [(ngModel)]="rate" readOnly="true" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
            nullable="false">
          </rating>
        </p> -->

      </div>
    </ion-card>

  </div>




  <div class="products" *ngIf="!articlesFromSubscribed || !_us.token_activo() ">
    <ion-card (click)="goTo()">
      <img src="assets/imgs/ecommerce.jpg" />
      <div class="card-title">Quieres vender?</div>
      <div class="card-subtitle">Publica tu anuncio, gratis!</div>
    </ion-card>

    <ion-card>
      <img src="assets/imgs/ecommerce2.jpg" (click)="goTo2()" />
      <div class="card-title">Buscas algo?</div>
      <div class="card-subtitle">Busca por sitios o por articulos</div>
    </ion-card>

    <ion-card>
      <img src="assets/imgs/ecommerce5.png" />
      <div class="card-title">Sencillo, facil de usar</div>
      <div class="card-subtitle">Con una interfaz amigable al usuario</div>
    </ion-card>
  </div>



</ion-content>