page-home {
  [menuToggle]{
      display: inline-block !important;
  }
  .scroll-content{
      padding-bottom: 15px;
  }
  .searchbar-md{
      position: absolute;
      top: 185px;
      padding: 8px 13px;
      .searchbar-input{
          background-color: color($colors,primary);
      }
      input::-webkit-input-placeholder {
          font-size: 1.4rem;
          font-weight: 100;
          color: white;
      }
  }
}
.app-card{
  width: calc(50% - 6px);
  margin: 9px 4 0 0;
  float: left;
  position: relative;
  img{
      height: 180px;
      object-fit: cover;
      -o-object-fit: cover;
  }
  &:nth-child(2n+1){
      margin-right: 6px;
  }
  &:nth-child(2n){
      margin-left: 6px;
  }
  h4 , p{
      color: color($colors,light);
  }
}
.card-md + ion-card{
  margin-top: 9px;
}

.det{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(66, 66, 66, .5);
  padding: 12px 10px 3px 10px;
  .col{
      display: flex;
      align-items: center;
      ion-icon{
          font-size: 1.7rem;
      }
  }
  [col-3]{
      justify-content: center;
  }
  h4{
      @extend %overflow;
      font-size: 1.35rem;
  }
  p{
      @extend %overflow;
      font-size: 1.2rem;
      span{
          position: relative;
          margin-right: 7px;
          font-size: 12px;
      }
  }
  .button{
      height: 24px;
      width: 55px;
      padding: 0 5px;
      font-size: 1rem !important;
      background-color: color($colors,secondary);
      color: color($colors,dark); 
  }
}

.activeColor{
  color: color($colors,danger) !important;
}


.home-content{
  .new-collection{
      height: 165px;
      width: 100%;
      margin-bottom: 25px;
      object-fit: cover;
      @extend %box-shadow;
  }
}

.products{
  padding: 7px 13px 13px 13px;
  p{
      margin-top: 0;
      margin-bottom: 6px;
  }
}

.sub-header{
  .searchbar-md{
      transition: all .8s ease-in-out;
      top: 33px !important;
      color: #488aff;
  }
}



 

  .iSearchbar::-moz-placeholder {
    color: white;
  }
  
  .iSearchbar::-ms-input-placeholder {
    color: white;
  }
  
  .iSearchbar::-webkit-input-placeholder {
    color: white;
  }

  

 



  .pins{
    column-count: 3;

    .pin{
      display: inline-block;
      margin: 0 2px 10px;
      padding: 5px;
    }
  }


  ion-card {
    position: relative;
    text-align: center;
    }

    .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    }

    .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    }



 