<ion-header class="header_home">
  <ion-navbar color="primary">
    <ion-buttons start>
      <button *ngIf="_us.token_activo()" ion-button (click)="_us.cerrar_sesion()">
        Salir
      </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Enjoy Shopping</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="carritoService.ver_carrito()">
        <ion-icon name="cart"></ion-icon>
        <ion-badge color="danger" class="carrito-numero" *ngIf="carritoService.items.length > 0">{{carritoService.items.length}}
        </ion-badge>

      </button>
      &nbsp; &nbsp;
    </ion-buttons>
  </ion-navbar>

  <ion-searchbar class="iSearchbar" color="third" placeholder="Buscar.."></ion-searchbar>
</ion-header>


<ion-content class="home-content" fullscreen (ionScroll)="scrollingFun($event)">



  <img src="assets/imgs/new.png" class="new-collection" />

  <div class="products">
    <p text-uppercase>
      <strong>Articulos</strong>
    </p>
    <p *ngIf="detector">No sigues a ningun sitio? o no estas logueado, ve a la tercera imagen y suscribete a algunos!</p>


  </div>


  <ion-card (click)="goTo()">
    <img src="assets/imgs/ecommerce.jpg" />
    <div class="card-title">Quieres vender?</div>
    <div class="card-subtitle">Publica tu anuncio, gratis!</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/ecommerce2.jpg" />
    <div class="card-title">Buscas algo?</div>
    <div class="card-subtitle">Navega por los diferentes sitios o categorias</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/ecommerce5.png" />
    <div class="card-title">Sencillo, facil de usar</div>
    <div class="card-subtitle">Con una interfaz amigable al usuario</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/ecommerce5.png" />
    <div class="card-title">Estadisticas</div>
    <div class="card-subtitle">Con metricas para medir tu negocio(version web)</div>
  </ion-card>









</ion-content>