
  ion-scroll[scrollX] {
    white-space: nowrap;
    height: 120px;
    overflow: hidden;
    margin:2px;

    .scroll-item {
      display: inline-block;
    }
    
  }

  .pins{
    column-count: 3;

    .pin{
      display: inline-block;
      margin: 0 2px 10px;
      padding: 5px;
    }
  }



  ion-scroll[scroll-avatar]{
    height: 60px;
  }
  ion-title{
    position: left;
  }

  /* Hide ion-content scrollbar */
  ::-webkit-scrollbar{
    display:none;
  } 