// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/


.carrito_vacio{
  position: relative;
  top: 30%;
  font-size: 20px;
}

.icon-5x{
  font-size: 100px;

}

.carrito-numero{
  position: absolute;
  top: -5px;
  left: 18px;
  
}





// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #f7705f,
  secondary:  #32db64,
  third:      #488aff,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

%main-bg{
  background: url(../assets/imgs/bg.png) !important;
}


%cover{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

%box-shadow{
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3) !important;
}

%linear-gradient{
  background: -webkit-linear-gradient(to bottom, rgba(236,64,122,0) 0%,rgba(236,64,122,0.02) 1%,rgba(color($colors,primary),0.77) 37%,rgba(color($colors,primary),0.94) 90%,rgba(color($colors,primary),0.94) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(236,64,122,0) 0%,rgba(236,64,122,0.02) 1%,rgba(color($colors,primary),0.77) 37%,rgba(color($colors,primary),0.94) 90%,rgba(color($colors,primary),0.94) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

%overflow{
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}


$toolbar-md-title-font-size: 1.7rem;
$toolbar-md-height: 48px;
$text-input-md-highlight-color: rgba(color($colors,light),.8);

$button-md-font-size: 1.8rem;
$button-md-font-weight: normal;

$searchbar-md-input-clear-icon-color: color($colors,light);
$searchbar-md-input-placeholder-color: color($colors,light);
$searchbar-md-input-text-color: color($colors,light);
$searchbar-md-input-search-icon-color: color($colors,light);

$fab-size: 50px;

$range-md-bar-height: 3px;
$range-md-knob-width: 25px;
$range-md-bar-background-color: rgba(0,0,0,.27);
$range-md-bar-active-background-color: color($colors,light);

$item-md-thumbnail-size: 90px;

$toggle-md-track-height: 10px;
$toggle-md-handle-height: 15px;
$toggle-md-handle-width: 15px;
$toggle-md-handle-background-color-off: #f1f1f1;
$toggle-md-track-width: 26px;
$toggle-md-track-background-color-off: #b9b8b8;
$toggle-md-item-left-padding: 12px 0px 12px 16px;

$alert-md-title-font-size:1.7rem;
$spinner-md-circles-color:	 #f7705f;