<!--
  Generated template for the CreararticuloPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Crear Articulo</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>

  <h4 *ngIf="!show">Selecciona el sitio:</h4>

  <div *ngIf="!websites" class="spinner-container">
    <ion-spinner name="circles"></ion-spinner>
  </div>

  <p (click)="crearSitio()" *ngIf="!websites">
    <b>
      No tienes sitios? Crea uno aqui
    </b>
  </p>

  <!-- lista de sitios -->
  <div *ngIf="!show && websites">
    <ion-card class="app-card" *ngFor="let website of websites">
      <img src="{{website.image_path}}" (click)="sendId(website.username)" />
      <div class="det">
        <h4 no-margin>{{website.name | slice:0:12}}</h4>
      </div>
    </ion-card>
  </div>





  <form [formGroup]="todo" (ngSubmit)="logForm()" *ngIf="show">
    <ion-item>
      <ion-label>Titulo</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripcion</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <div style="text-align: center;">

      <button ion-button (click)="getImage()">Subir foto</button>
      <p>
        <img src="{{mypic}}">
      </p>
    </div>


    <h6>Categorias</h6>

    <ion-title>
      <b>Electrónicos, computadoras y oficina</b>
    </ion-title>


    <ion-row radio-group formControlName="sub_category_id">
      <ion-col>
        <ion-item>
          <ion-icon name="tv" item-start></ion-icon>
          <ion-label>TV y Video</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="smartphone" item-start></ion-icon>
          <ion-label>Celulares y accesorios</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="compuacces" item-start></ion-icon>
          <ion-label>Computadoras y accesorios</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="computadoras" item-start></ion-icon>
          <ion-label>Componentes para computadoras</ion-label>
          <ion-radio value="4"></ion-radio>
        </ion-item>
      </ion-col>
      <br>


      <ion-title>
        <b>
          Deportes y Aire libre
        </b>
      </ion-title>



      <br>
      <ion-col>
        <ion-item>
          <ion-icon name="deportes" item-start></ion-icon>
          <ion-label>Deportes y actividad fisica</ion-label>
          <ion-radio value="5"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="deportesropa" item-start></ion-icon>
          <ion-label>Ropa deportiva</ion-label>
          <ion-radio value="6"></ion-radio>
        </ion-item>
      </ion-col>
      <br>


      <ion-title>
        <b>
          Hogar, Jardín y Herramientas
        </b>
      </ion-title>


      <br>


      <ion-col>
        <ion-item>
          <ion-icon name="muebles" item-start></ion-icon>
          <ion-label>Muebles</ion-label>
          <ion-radio value="7"></ion-radio>
        </ion-item>
      </ion-col>
      <br>


      <ion-title>
        <b>
          Comida y Víveres
        </b>
      </ion-title>


      <br>
      <ion-col>
        <ion-item>
          <ion-icon name="restaurantes" item-start></ion-icon>
          <ion-label>Restaurantes</ion-label>
          <ion-radio value="8"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="pizza" item-start></ion-icon>
          <ion-label>Pizza</ion-label>
          <ion-radio value="9"></ion-radio>
        </ion-item>
      </ion-col>
      <br>

      <ion-title>
        <b>
          Belleza, salud y relacionados
        </b>
      </ion-title>


      <ion-col>
        <ion-item>
          <ion-icon name="mujeres" item-start></ion-icon>
          <ion-label>Mujeres</ion-label>
          <ion-radio value="10"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="hombres" item-start></ion-icon>
          <ion-label>Hombres</ion-label>
          <ion-radio value="11"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="ninos" item-start></ion-icon>
          <ion-label>Niños</ion-label>
          <ion-radio value="12"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="ninas" item-start></ion-icon>
          <ion-label>Niñas</ion-label>
          <ion-radio value="13"></ion-radio>
        </ion-item>
      </ion-col>
      <br>

      <ion-title>
        <p> Ropa calzado y joyeria </p>
      </ion-title>
      <br>
      <ion-col>
        <ion-item>
          <ion-icon name="salonspa" item-start></ion-icon>
          <ion-label>Salon y spa</ion-label>
          <ion-radio value="14"></ion-radio>
        </ion-item>
      </ion-col>
      <br>

      <ion-title>
        <b>
          Automotriz e industrial
        </b>
      </ion-title>


      <br>
      <ion-col>
        <ion-item>
          <ion-icon name="partesyaccesorios" item-start></ion-icon>
          <ion-label>Partes y Accesorios automotrices</ion-label>
          <ion-radio value="15"></ion-radio>
        </ion-item>
      </ion-col>
      <br>

      <ion-title>
        <b>
          Servicios para el hogar
        </b>
      </ion-title>


      <br>
      <ion-col>
        <ion-item>
          <ion-icon name="serviciolimpieza" item-start></ion-icon>
          <ion-label>Servicios de Limpieza</ion-label>
          <ion-radio value="16"></ion-radio>
        </ion-item>
      </ion-col>

      <ion-item>
        <ion-label>Precio</ion-label>
        <ion-input type="number" formControlName="price"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>Cantidad</ion-label>
        <ion-input type="number" formControlName="stock"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Estatus</ion-label>
        <ion-select [(ngModel)]="estatus" formControlName="status">
          <ion-option value="DISPONIBLE">Disponible</ion-option>
          <ion-option value="NO_DISPONIBLE">No Disponible</ion-option>
          <ion-option value="PRIVADO">Privado</ion-option>
        </ion-select>
      </ion-item>



    </ion-row>
    <button ion-button block type="submit" [disabled]="!todo.valid" (click)="createArticle()">Crear</button>
  </form>




</ion-content>