page-creararticulo {

    .det{
        position: absolute;
        bottom: 0;
        height: 40px;
        width: 160px;
        background: rgba(66, 66, 66, .5);
        padding: 12px 5px 3px 3px;
        .col{
            display: flex;
            align-items: center;
            ion-icon{
                font-size: 1.7rem;
            }
        }
        [col-3]{
            justify-content: center;
        }
        h4{
            @extend %overflow;
            font-size: 1.35rem;
        }
        p{
            @extend %overflow;
            font-size: 1.2rem;
            span{
                position: relative;
                margin-right: 7px;
                font-size: 12px;
            }
        }
        .button{
            height: 24px;
            width: 55px;
            padding: 9 5px;
            font-size: 1rem !important;
            background-color: color($colors,secondary);
            color: color($colors,dark); 
        }
      }

      ion-card {
        position: relative;
        text-align: center;
        }

}
