<!--
  Generated template for the CreararticuloPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Crear Articulo</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>

  <h4 *ngIf="!show">Selecciona el sitio:</h4>

  <div *ngIf="!websites" class="spinner-container">
    <ion-spinner name="circles"></ion-spinner>
  </div>

  <!-- lista de sitios -->
  <div *ngIf="!show">
    <ion-card class="app-card" *ngFor="let website of websites">
      <img src="{{website.image_path}}" (click)="sendId(website.username)" />
      <div class="det">
        <h4 no-margin>{{website.name | slice:0:12}}</h4>
      </div>
    </ion-card>
  </div>


</ion-content>