<ion-header>

  <ion-navbar>
    <ion-buttons>
      <button ion-button (click)="viewCtrl.dismiss()"> Cerrar</button>
    </ion-buttons>
    <ion-title>Carrito de compras</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div text-center class="carrito_vacio" *ngIf="carritoService.items.length === 0">

    <ion-icon name="ios-cart-outline" class="icon-5x"></ion-icon>
    <br> Su carrito esta vacio
  </div>


  <div *ngIf="carritoService.items.length > 0">

    <ion-grid>
      <ion-row *ngFor="let item of carritoService.items">
        <ion-col>
          <img [src]="item.image_path" alt="" srcset="">
        </ion-col>

        <ion-col>
          <p>{{item.name}}</p>
          <p>{{item.price | currency}}</p>

          <button ion-button color="danger" outline small>Eliminar</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <hr>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h3>
            <strong>Total:</strong>
            {{carritoService.total_carrito | currency: 'RD$':true}}
          </h3>

        </ion-col>
      </ion-row>
    </ion-grid>

    <button ion-button block>Realizar pedido</button>





  </div>

</ion-content>